<%- include('./partials/head.ejs') %> 

  <%- include('./partials/nav.ejs') %> 

  <div class="blogs content">
    <h2>About us</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quibusdam
      tempore dolorem mollitia animi et labore neque aliquid, ipsa praesentium
      modi, tempora nobis ipsum ad incidunt sequi minima suscipit deleniti!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quibusdam
      tempore dolorem mollitia animi et labore neque aliquid, ipsa praesentium
      modi, tempora nobis ipsum ad incidunt sequi minima suscipit deleniti!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quibusdam
      tempore dolorem mollitia animi et labore neque aliquid, ipsa praesentium
      modi, tempora nobis ipsum ad incidunt sequi minima suscipit deleniti!
    </p>
  </div>      

  <%- include('./partials/footer.ejs') %> 
    
